<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">Contact Manger</div>
            <ul>
                <li><a href="/Person/index">Person</a></li>

            </ul>
		</nav>
        <div class="page-content">
        @RenderBody()
        </div>
    
    </div>
	@RenderSection("Scripts", required:false)
</body>
</html>
