@{
    ViewBag.Title = "Create Person";
}

<a class="link-hover" href="~/Person/index">Go Back to Persons List</a>

<h1>Create Person</h1>
<div class="w-50">
    <form action="~/Person/create" method="post">
        <div class="form-field flex">
            <div class="w-25">
                <label for="Name" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input type="text" name="Name" id="Name" class="form-input"/>
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
                <label for="Email" class="form-label">Email</label>
            </div>
            <div class="flex-1">
                <input type="email" name="Email" id="Email" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-input" />
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
                <label for="Gender" class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                <label for="Male">male</label>
                <input type="radio" name="Gender" id="Male" value="Male" class="ml" />
                <label for="Female">female</label>
                <input type="radio" name="Gender" id="Female" value="Female" class="ml" />
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
                <label for="CountryId" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select name="CountryId" id="CountryId" class="form-input">
                    <option value="">Select country</option>
                    @foreach(CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
                <label for="Address" class="form-label">Address</label>
            </div>
            <div class="flex-1">
                <input type="text" name="Address" id="Address" class="form-input" />
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <label for="ReceiveNewsLetters" class="form-label pt">Receive News Letters</label>
                <input type="checkbox" name="ReceiveNewsLetters" id="ReceiveNewsLetters" value="true"/>
            </div>
        </div>

        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="submit" value="Create" class="button button-green-back" />
            </div>
        </div>

        @if (ViewBag.Errors != null)
        {
             <ul class="text-red">
                @foreach (var error in ViewBag.Errors)
            {
                    <li> @error </li>
			}
            </ul>
		}
)
    </form>
</div>